body{
    background-size: contain;
    background-image: url(../Illustrations/Game/Batgame1.png);
}
/*Variable de couleur*/
:root{
    --Dark--black:#000000;
    --Red--red:#B11313;
    --Blue--black:#19587D;
    --grey--color:#C4C4C4;
    --Black--color:#0D0E09;
    --White--color:#FFFFFF;
    --grey--ligne:#bcbbbd42;
    --Yellow--first: #FFFF00;
    --Yeloow--second: #F8F184;
    --red--white-degrad:#890008;
    --Blue--white--degrad:#19587D;
    --Yellow--white--degrad:#EDDEBF;
}
/*Variables de police*/
:root{
    --Rajdhani : 'Rajdhani','arial', sans serif;
    --Space-Grotesk : 'Space Grotesk', 'arial', sans serif;
}
/*Introduction*/
.introduction{
    padding-left: 50px;
    text-align: start;
}
/*Quiz*/
.quiz{
    display: flex;
    padding: 2% 5%;
    margin: 0 102px;
    align-items: center;
    flex-direction: column;
    color: var(--White--color);
    border-left:  4px solid var(--grey--ligne);
    border-right: 4px solid var(--grey--ligne);
}
.quiz button{
    margin: 50px 0 0 0;
}
/*Responsive*/
@media screen and (max-width:768px) {
    .quiz{
        position: relative;
        display: flex;
        padding: 2% 5%;
        margin: 0 60px;
        border-left: 3px solid var(--grey--ligne);
        border-right:3px solid var(--grey--ligne);
    }
    .quiz h1{
        font-size: x-large;
    }
    .contour, .contour1{
        height:1200px;
    }
}