/*Enlevement de tout les margin et padding par defaut*/
*{
    margin: 0;
    padding: 0;
  
}
/*Variables de couleur*/
:root{
    --Dark--black:#000000;
    --Red--red:#B11313;
    --Blue--black:#19587D;
    --grey--color:#C4C4C4;
    --Black--color:#0D0E09;
    --White--color:#FFFFFF;
    --Yellow--first: #FFFF00;
    --Yeloow--second: #F8F184;
    --red--white-degrad:#890008;
    --Blue--white--degrad:#19587D;
    --Yellow--white--degrad:#EDDEBF;
}
/*Variables de police*/
:root{
    --Rajdhani : 'Rajdhani','arial', sans serif;
    --Space-Grotesk : 'Space Grotesk', 'arial', sans serif;
}
/*Background de tout le document*/
body{
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--Dark--black);
    background-image: url(../Illustrations/Home/Bathome1.png);
}
/*Scrool*/
.scrool{
    top: 100px;
    z-index: 3;
    right: 51px;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
}
.scrool li{
    margin: 8px 0;
    display: block;
}
.svg{
    fill : var(--White--color);
}
.svg:hover{
    fill : var(--Yellow--first);
}
/*Barre de menu*/
.barre{
    display:flex;
    padding: 2% 5%;
    margin: 0 102px;
    align-items: center;
    border: 4px solid #BCBBBD;
    justify-content: space-between;
}
.menu a{
    font-size: 25px;
    margin: 0 20px 0 0;
    text-decoration: none;
    color: var(--White--color);
    font-family: var(--Space-Grotesk);
}
.menu .active{
    text-decoration: underline;
}
.menu a:hover{
    text-decoration: underline;
}
/*Texte d'introduction*/
.introduction{
    padding: 15% 0;
    margin: 0 102px;
    font-size: x-large;
    text-align: center;
    color: var(--White--color);
    border-left: 4px solid #BCBBBD;
    border-right:4px solid #BCBBBD;
}
.center{
    width: 30%;
    margin: auto;
    font-family: var(--Space-Grotesk);
}
.boutton{
    margin: 2% 0;
    font-size: 20px;
    font-style: medium;
}
.btn1{
    opacity: 0.6;
    border: none;
    margin: 0 15px;
    padding: 10px 40px;
    color: var(--White--color);
    font-family: var(--Rajdhani);
    background-image: linear-gradient(45deg, #eddebf, #890009);
}
.btn1:hover{
    opacity: 1;
}
/*Petit fleche*/
.fleche{
    margin: 0 102px;
    padding: 50px 0;
    text-align: center;
    border-left: 4px solid #BCBBBD;
    border-right:4px solid #BCBBBD;
}
/*Batman*/
.batman{
    margin: 0 102px;
    padding: 0 100px; 
    color: var(--White--color);
    border-left: 4px solid #BCBBBD;
    border-right: 4px solid #BCBBBD;
}
h1{
    padding: 15px 0;
    font-size: 36px;
}
.batman>p{
    margin: 25px 0;
    font-size: 22px;
}
.image{
    display: flex;
    justify-content: space-between;
}
figure{
    margin: 100px 0;
    position: relative;
}
figure>img{
    width: 100%;
}
figure:hover{
    transform: scale(1.4);
}
figcaption{
    width: 97%;
    bottom: 1%;
    display: none;
    padding : 10% 0;
    position: absolute;
    justify-content: center;
    border: 4px solid #BCBBBD;
}
.figcaption{
    width: 70%;
    padding: 10% 0;
    font-size: 12px;
    text-align: center;
    border-radius: 5vw;
    background-image: linear-gradient(45deg, #eddebf56, #8900095e);
}
.yellow{
    color: var(--Yellow--first);
}
figcaption img{
    top: 10%;
    left: 0%;
    position: absolute;
}
/*Transition*/
.style{
    position: relative;
}
.transition img{
    width: 100%;
}
.contour{
    top: 0;
    z-index: 1;
    left: 102px;
    height: 1000px;
    position: absolute;
    color: transparent;
    border-left: 4px solid #BCBBBD;
}
.contour1{
    top: 0;
    z-index: 1;
    height: 1000px;
    right: 102px;
    position: absolute;
    color: transparent;
    border-left: 4px solid #BCBBBD;
}
/*nemesis*/
.nemesis{
    margin: 0 102px;
    padding: 0 100px; 
    color: var(--White--color);
    border-left: 4px solid #BCBBBD;
    border-right: 4px solid #BCBBBD;
}
.imageMe{
    display: flex;
    justify-content: space-between;
}
.nemesis>p{
    margin: 25px 0;
    font-size: 22px;
}
/*Multimedia*/
.multimedia{
    text-align: center;
    margin: 0 102px;
    padding: 0 100px 100px 100px; 
    color: var(--White--color);
    border-left: 4px solid #BCBBBD;
    border-right: 4px solid #BCBBBD;
}
.multimedia h1{
    text-align: left;
}
.slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#action{
    width: 60%;
    display: flex;
    margin-bottom: 50px;
    flex-direction: row;
}
#sary{
    width: 24%;
}
#sary img{
    height: 100%;
 }
.description{
    width: 80%;
    text-align: left;
    padding: 25px 0 0 15px;
    border-radius: 0px 50px 50px 0px;
    background-image: linear-gradient(135deg, #EDDEBF 1%, #19587D);
}
.description span{
    font-weight: 700;
    color: var(--Yellow--first);
}
#iframe{
    width: 100%;
}
/*Formule de contact*/
.style1{
    padding: 15% 0;
    position: relative;
    background-image: linear-gradient(135deg, var(--Black--color) 0.5%, var(--Blue--black));
}
.contact{
    margin: 0 102px;
    text-align: center;
    color: var(--White--color);
    padding: 0 200px 0 200px;
}
.contact h2{
    font-size: 36px;
    font-style: medium;
    margin: 0 0 25px 0;
    font-family: var(--Rajdhani);
    color: var(--White--color);
}
.formulaire{
    text-align: start;
}
.formulaire h3{
    margin: 20px 0;
    color: var(--White--color);
}
.formulaire label{
    margin: 15px 0;
    font-size: 22px;
    color: var(--grey--color);
}
input::placeholder{
    font-size: 20px;
    color: var(--grey--color);
}
.formulaire .lova{
    width: 100%;
    border: none;
    margin: 35px 0;
    background-color: transparent;
    border-bottom: 3px solid var(--White--color);
}
.formulaire select{
    width: 100%;
    border: none;
    margin: 50px 0;
    background-color: transparent;
    border-bottom: 3px solid var(--White--color);
}
#text{
    border: 0;
    width: 100%;
    background-color: transparent;
    border-bottom: 3px solid white;
}
.btn2{
    text-align: center;
    margin: 15px;
    padding: 1px;
    color: var(--White--color);
    background-image: linear-gradient(90deg, #eddebf, var(--Blue--black));
}
.btn2 p{
    
    padding: 15px 25px;
    background-image: linear-gradient(135deg,  #13435f 0 10%, #103f5a 95% 100%);
}
.btn2 p:hover{
    background-image: linear-gradient(90deg, #b4b0a7, #345f79);
}
.botn{
    margin: 35px 0;
    text-align: center;
}
.confirm{
    font-size: 20px;
    margin-top: 15px;
    padding: 25px 50px;
}
#prompt{
    width: 80%;
    margin:auto;
    padding: 15% 0;
    display: none;
    text-align: center;
    border-radius: 50px;
    font-size: xx-large;
    color: var(--White--color);
    background-image: linear-gradient(135deg, var(--Yellow--white--degrad),var(--Blue--white--degrad));
}
#one{
    top: 0;
    z-index: 1;
    left: 102px;
    height: 2000px;
    position: absolute;
    color: transparent;
    border-left: 4px solid #BCBBBD;
}
#two{
    top: 0;
    z-index: 1;
    right: 102px;
    height: 2000px;
    position: absolute;
    color: transparent;
    border-left: 4px solid #BCBBBD;
}
/*Footer*/
.finition{
    display: flex;
    padding: 5% 5%;
    margin: 0 102px;
    text-align: center;
    color: var(--White--color);
    color: var(--White--color);
    justify-content: space-between;
    border-left: 4px solid #BCBBBD;
    border-right: 4px solid #BCBBBD;
}
#citation{
    font-size: xx-large;
}
#auteur{
    font-size: xx-large;
}
#date{
    font-size: x-large;
}
.up{
    align-self:flex-start;
}
.down{
    align-self: flex-end;
}
.descpt{
    width: 40%;
    padding: 100px 0;
}
.descpt .petit{
    font-size: 15px;
    color: var(--grey--color);
}
#ROND{
    display: flex;
    margin: 10px 0;
    justify-content: center;
}
.rond{
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid var(--Blue--black);
}
#rond1{
    background-color: #19587D;
}
.wb{
    display: flex;
    margin: 0 102px;
    padding: 15px 0;
    text-align: center;
    justify-content: center;
    color: var(--White--color);
    color: var(--White--color);
    border-left: 4px solid #BCBBBD;
    border-right: 4px solid #BCBBBD;
}
.wbtext{
    font-size: 22px;
}
footer ul{
    width: 30%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer ul li{
    display: block;
}

/*Cote responsive du site*/
@media screen and (max-width:768px) {
    /*scrool*/
    .scrool{
        top: 100px;
        z-index: 3;
        right: 10px;
        display: flex;
        position: fixed;
        align-items: center;
        flex-direction: column;
    }
    /*barre de menu*/
    .barre{
        padding: 2% 5%;
        margin: 0 60px;
        border: 2px solid #BCBBBD;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .menu a{
        font-size: 15px;
        margin: 10px 10px 0 0;
        text-decoration: none;
    }
    /*Texte d'introduction*/
    .introduction{
        padding: 15% 0;
        margin: 0 60px;
        font-size: small;
        text-align: center;
        border-left: 2px solid #BCBBBD;
        border-right:2px solid #BCBBBD;
    }
    .center{
        width: 70%;
        margin: auto;
    }
    /*petit fleche*/
    .fleche{
        margin: 0 60px;
        border-left: 2px solid #BCBBBD;
        border-right:2px solid #BCBBBD;
    }
    /*Batman*/
    .batman{
        margin: 0 60px;
        padding: 0 50px; 
        text-align: justify;
        color: var(--White--color);
        border-left: 2px solid #BCBBBD;
        border-right: 2px solid #BCBBBD;
    }
    .image{
        display: flex;
        flex-direction: column-reverse;
    }
    figure:hover{
        transform: scale(1);
    }
    #bat1, #bat2 {
        display: none;
    }
    /*Transition*/
    .contour{
        left: 60px;
        border-left: 2px solid #BCBBBD;
    }
    .contour1{
        right: 60px;
        border-left: 2px solid #BCBBBD;
    }
    /*Nemesis*/
    .nemesis{
        margin: 0 60px;
        padding: 0 50px; 
        text-align: justify;
        color: var(--White--color);
        border-left: 2px solid #BCBBBD;
        border-right: 2px solid #BCBBBD;
    }
    .imageMe{
        display: flex;
        flex-direction: column;
    }
    #neme2, #neme3{
        display: none;
    }
    figcaption{
        display: flex;
        padding : 5% 0;
    }
    figcaption img{
        top: 20%;
        left: 10%;
        position: absolute;
    }
    /*Multimedia*/
    .multimedia{
        margin: 0 60px; 
        padding: 20px 0;
        border-left: 2px solid #BCBBBD;
        border-right: 2px solid #BCBBBD;
    }
    #action{
        width: 60%;
        margin: auto;
        flex-direction: row;
    }
    .description{
        width: 60%;
        padding: 10px 25px;
    }
    #textSlide{
        display: none;
    }
    #sary{
        width: 40%;
    }
    #next{
        display: none;
    }
    #previous{
        display: none;
    }
    #iframe{
        display: none;
    }
    /*contact*/
    #one{
        left: 60px;
        height: 1000px;
        border-left: 2px solid #BCBBBD;
    }
    #two{
        right: 60px;
        height: 1000px;
        border-left: 2px solid #BCBBBD;
    }
    .contact{
        margin:0;
        padding: 0 70px 0 90px;
    }
    .style1{
        padding: 5% 0;
    }
    /*footer*/
    .finition{
        padding: 2% 5%;
        margin: 0 60px;
        border-left: 2px solid #BCBBBD;
        border-right: 2px solid #BCBBBD;
    }
    #citation, #auteur{
        font-size: x-large;
    }
    #date{
        font-size: large;
    }
    .up{
        display: none;
    }
    .down{
        display: none;
    }
    .descpt{
        width: 80%;
        margin: auto;
    }
    .descpt .petit{
        font-size: 8px;
        color: var(--grey--color);
    }
    .wb{
        margin: 0 60px;
        border-left: 2px solid #BCBBBD;
        border-right: 2px solid #BCBBBD;
    }
    .wbtext{
        font-size: 15px;
    }
    footer ul{
        width: 50%;
    }
}